[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
black = "*"
pdbpp = "*"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djoser = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
django-cors-headers = "*"
drf-spectacular = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
